@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@300;400;500;600;700;800&display=swap');
@import url('https://fonts.cdnfonts.com/css/cascadia-code');
@tailwind base;
@tailwind components;
@tailwind utilities;

.text-gradient {
  --bg-size: 400%;
  --color-one: rgba(255,75,224,1);
  --color-two: rgba(161,35,218,1);
  background: linear-gradient(
      90deg,
      var(--color-one),
      var(--color-two),
      var(--color-one)
    )
    0 0 / var(--bg-size) 100%;
  color: transparent;
  background-clip: text;
}

@media (prefers-reduced-motion: no-preference) {
  .text-gradient {
    animation: move-bg 8s linear infinite;
  }
  @keyframes move-bg {
    to {
      background-position: var(--bg-size) 0;
    }
  }
}
.slide {
    top: -200%;
    transition: top 0.3s ease;
}
.slide.slide-down {
    top: 0;
    animation: slide-down 0.3s ease;
}

@keyframes slide-down {
    0% {
        top: -100%;
    }
    100% {
        top: 0;
    }
}
